<h1>Welcome to The Store</h1>
<h3>Products</h3>
<table class='table'>
	<thead>
		<tr>
			<th>Product</th>
			<th>Description</th>
			<th>Category</th>
			<th>Price</th>
			<th></th>
	</thead>
	<tbody>
		<% @products.each do |p| %>
		<tr>
			<td><%= p.product %></td>
			<td><%= p.description %></td>
			<td><%= p.category.category %></td>
			<td>$<%= p.price %></td>
			<td><a href='/products/<%= p.id %>'>Show</a></td>
			<td><a href='/products/<%= p.id %>/edit'>Edit</a></td>
			<td><a href='/products/<%= p.id %>' data-method='delete'>Delete</a></td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href='/products/new'>Add a Product</a>
<a href='/comments'>Comments</a>

<% if flash[:errors] %>
	<% flash[:errors].each do |err| %>
		<p><%= err %></p>
	<% end %>
<% end %>