<h1>The Store</h1>
<div class='row'>
	<ul class='col-md-2 bold'>
		<li>Product</li>
		<li>Description</li>
		<li>Price</li>
		<li>Category</li>
	</ul>
	<ul class='col-md-2'>
		<li><%= @product.product %></li>
		<li><%= @product.description %></li>
		<li><%= @product.price %></li>
		<li><%= @product.category.category %></li>	
	</ul>
</div>
<a href='/products/<%= @product.id %>/edit'>Edit</a>
<h3>Comment:</h3>
<form action='/comments' method='POST' role='form'>
	<input name='authenticity_token' value='<% form_authenticity_token %>' type='hidden'>
	<input type='hidden' name='_method' value='patch'>
	<textarea type='text' name='comment[comment]' class='form-control'></textarea>
	<button type='submit' class='btn'>Add Comment</button>
</form>
<a href='/'>Main Page</a>