<h1>The Store</h1>
<div class='row'>
	<ul class='col-md-2 bold'>
		<li>Product</li>
		<li>Description</li>
		<li>Price</li>
		<li>Category</li>
	</ul>
	<ul >
		<li><%= @product.product %></li>
		<li><%= @product.description %></li>
		<li><%= @product.price %></li>
		<li><%= @product.category.category %></li>	
	</ul>
</div>
<a href='/products/<%= @product.id %>/edit'>Edit</a>
<h4>Comments</h4>
<% @comments.each do |comment| %>
	<p><%= comment.comment %> - <%= comment.created_at.strftime('%_m/%d/%Y')%></p>
<% end %>
<div class='row'>
	<form action='/comments' method='POST' role='form' class='col-md-6'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type='hidden' name='comment[product_id]' value='<%= @product.id %>'>
		<div class='form-group'>
			<textarea type='text' name='comment[comment]' class='form-control'></textarea>
		</div>
		<button type='submit' class='btn'>Add Comment</button>
	</form>
</div>
<% if flash[:messages] %>
	<% flash[:messages].each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>
<a href='/'>Main Page</a>